# Google OAuth
GOOGLE_CLIENT_ID=Ov23lidgrlGWp2ToQeoa
GOOGLE_CLIENT_SECRET=568812856553-4p29rp94hjgdvhd00ipspv8h5iep491f.apps.googleusercontent.com

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liA2ucok3ZR4RlqK
GITHUB_CLIENT_SECRET=3502de2d599b046810ee5305b5b26afecf528c1a

# Session Secret
SESSION_SECRET=clutchbyte_super_secret_2026_ultra_secure_key
