# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liA2ucok3ZR4RlqK
GITHUB_CLIENT_SECRET=3502de2d599b046810ee5305b5b26afecf528c1a

# Session Secret
SESSION_SECRET=a_very_long_random_string_here
